{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    FamilyShop&reg Hàng xách tay châu Âu, Nhật Bản số 1 Việt Nam
{% endblock %}
{% block top %}
{% endblock %}

{% block content %}
<div class="main_slider" style="background-image:url('{{ slider.image.url }}')">
  <div class="container fill_height">
    <div class="row align-items-center fill_height">
      <div class="col">
        <div class="main_slider_content">
          <h6>{{slider.title}}</h6>
          <h1>{{slider.description}}</h1>
          <div class="red_button shop_now_button"><a href="{% url 'shop:product_list' %}">Mua sắm ngay</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner">
  <div class="container">
    <div class="row">
      {% for category in category3 %}
        <div class="col-md-4">
          <div class="banner_item align-items-center" style="background-image:url({% if category.image %}'{{ category.image.url }}'{% else %}'{% static "img/no_image.png" %}'{% endif %})">
            <div class="banner_category">
              <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="new_arrivals">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="section_title new_arrivals_title">
          <h2>Sản phẩm mới</h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col text-center">
        <div class="new_arrivals_sorting">
          <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">Tất cả</li>
            {% for category in category3 %}
              <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".{{category.id}}">{{ category.name }}'s</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>

          <!-- Product 1 -->
          {% for product in product20 %}
          <div class="product-item {{product.category_id}}">
            <div class="product discount product_filter">
              <div class="product_image">
                <img src="{% if product.image %}{{product.image.url}}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="">
              </div>
              {% if product.new and product.decrease == 0 %}
                <div class="favorite"></div>
                <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span> mới </span></div>
              {% elif product.decrease %}
                <div class="favorite favorite_left"></div>
                <div class="product_bubble product_bubble_right product_bubble_orange d-flex flex-column align-items-center"><span> -{{product.decrease}}% </span></div>
              {% else %}
                <div class="favorite"></div>
              {% endif %}
              <div class="product_info">
                <h6 class="product_name"><a href="{{ product.get_absolute_url }}">{{product.name}}</a></h6>
                <div class="product_price">{{product.price}}Vnđ{%if product.priceold != product.price %}<span>{{product.priceold}}Vnđ</span>{% endif %}</div>
              </div>
            </div>
            <div class="red_button add_to_cart_button">
              <a href="{{ product.get_absolute_url }}">Mua hàng</a>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Deal of the week -->

<div class="deal_ofthe_week">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="deal_ofthe_week_img">
          <img src="{% static 'img/deal_ofthe_week.png' %}" alt="">
        </div>
      </div>
      <div class="col-lg-6 text-right deal_ofthe_week_col">
        <div class="deal_ofthe_week_content d-flex flex-column align-items-center float-right">
          <div class="section_title">
            <h2>Khuyến mãi trong tuần</h2>
          </div>
          <ul class="timer">
            <li class="d-inline-flex flex-column justify-content-center align-items-center">
              <div id="day" class="timer_num">03</div>
              <div class="timer_unit">Ngày</div>
            </li>
            <li class="d-inline-flex flex-column justify-content-center align-items-center">
              <div id="hour" class="timer_num">15</div>
              <div class="timer_unit">Giờ</div>
            </li>
            <li class="d-inline-flex flex-column justify-content-center align-items-center">
              <div id="minute" class="timer_num">45</div>
              <div class="timer_unit">Phút</div>
            </li>
            <li class="d-inline-flex flex-column justify-content-center align-items-center">
              <div id="second" class="timer_num">23</div>
              <div class="timer_unit">giây</div>
            </li>
          </ul>
          <div class="red_button deal_ofthe_week_button"><a href="{% url 'shop:product_list' %}">Mua hàng ngay</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Best Sellers -->

<div class="best_sellers">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="section_title new_arrivals_title">
          <h2>Bán chạy nhất</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="product_slider_container">
          <div class="owl-carousel owl-theme product_slider">

            <!-- Slide 1 -->
            {% for product in product10 %}
            <div class="owl-item product_slider_item">
              <div class="product-item">
                <div class="product discount">
                  <div class="product_image">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="">
                  </div>
                    <div class="favorite favorite_left"></div>
                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span> Hot </span></div>
                  <div class="product_info">
                    <h6 class="product_name"><a href="{{ product.get_absolute_url }}">{{product.name}}</a></h6>
                    <div class="product_price">{{product.price}}Vnđ{%if product.priceold != product.price %}<span>{{product.priceold}}Vnđ</span>{% endif %}</div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}


          </div>

          <!-- Slider Navigation -->

          <div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </div>
          <div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
