{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  Đổi mật khẩu thành công
{% endblock %}
{% block top %}
<link rel="stylesheet" type="text/css" href="{% static "css/contact_styles.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/contact_responsive.css" %}">
{% endblock %}
{% block content %}
<div class="container contact_container">
  <div class="row">
    <div class="col">

      <!-- Breadcrumbs -->

      <div class="breadcrumbs d-flex flex-row align-items-center">
        <ul>
          <li><a href="{% url 'home:home_page' %}">Trang chủ</a></li>
          <li class="active"><a href="{% url 'home:password_reset' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>Đặt lại mật khẩu</a></li>
        </ul>
      </div>


    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Mật khẩu được đổi thành công</h3>
          <div class="alert alert-success" role="alert">
            Bạn đã đổi mật khẩu thành công. Hãy tiếp tục đăng nhập.
          </div>
          <a href="{% url 'home:login' %}" class="btn btn-secondary btn-block">Đăng nhập</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
