{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Đặt lại mặt khẩu
{% endblock %}
{% block top %}
<link rel="stylesheet" type="text/css" href="{% static "css/contact_styles.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/contact_responsive.css" %}">
{% endblock %}
{% block content %}
  <div class="alert alert-success" role="alert">
    <strong>Thành công!</strong> Mật khẩu được đặt lại thành công
  </div>
  <a href="{% url 'home:home_page' %}" class="btn btn-secondary">Quay trở lại trang chủ</a>
{% endblock %}
