Chào bạn,

Có vẻ ai đó đã yêu cầu đặt lại mật khẩu với địa chỉ email: {{ email }}.
Nhấp vào liên kết dưới đây:
{{ protocol }}://{{ domain }}{% url 'home:password_reset_confirm' uidb64=uid token=token %}

Trong trường hợp bạn không nhớ tên tài khoản của mình: {{ user.username }}

Nếu nhấp vào liên kết mà không thấy hoạt động, xin hãy coppy địa chỉ liên kết để truy cập ở một trình duyệt hoặc cửa sổ khác.

Nếu bạn nhận được mail báo lỗi, có vẻ như một người dùng nào đó đã dùng địa chỉ email của bạn, do đó đã gặp phải lỗi này khi cố gắng đặt lại mật khẩu. Nếu bạn không phải là người đưa ra yêu cầu, bạn không cần phải làm một hành động gì tiếp theo, để an toàn bạn không cần quan tâm
đến email này.

Cám ơn,

Cửa hàng Familyshop
