{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Đăng ký
{% endblock %}
{% block top %}
<link rel="stylesheet" type="text/css" href="{% static "css/contact_styles.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/contact_responsive.css" %}">
{% endblock %}

{% block content %}
<div class="container contact_container">
  <div class="row">
    <div class="col">

      <!-- Breadcrumbs -->

      <div class="breadcrumbs d-flex flex-row align-items-center">
        <ul>
          <li><a href="{% url 'home:home_page' %}">Trang chủ</a></li>
          <li class="active"><a href="{% url 'home:register' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>Đăng ký</a></li>
        </ul>
      </div>


    </div>
  </div>
  <div class="row justify-content-center">
    <form class="" action="." method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <p><input type="submit" name="" value="Đăng ký"></p>
    </form>

  </div>
  <div class="card-footer text-muted text-center">
    Bạn đã có tài khoản? <a href="{% url 'home:login' %}">Đăng nhập</a>
  </div>
</div>
{% endblock %}
