{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}
{% block top %}
<link rel="stylesheet" type="text/css" href="{% static "css/single_styles.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/single_responsive.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/contact_styles.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/contact_responsive.css" %}">
{% endblock %}

{% block content %}
  <div class="container contact_container">
    <div class="row">
      <div class="col">

        <!-- Breadcrumbs -->

        <div class="breadcrumbs d-flex flex-row align-items-center">
          <ul>
            <li><a href="{% url 'home:home_page' %}">Trang chủ</a></li>
            <li class="active"><a href="{% url 'shop:product_list' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>Tất cả sản phẩm</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <div class="single_product_pics">
          <img  src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        </div>
      </div>
      <div class="col-lg-5">
        <div class="product_details">
          <div class="product_details_title">
            <h4>{{ product.name }}</h4>
            <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2></p>
          </div>
          <div class="free_delivery d-flex flex-row align-items-center justify-content-center">
            <span class="ti-truck"></span><span>Miễn phí giao hàng</span>
          </div>
          <br>
          <br>
          {% if product.price != product.priceold %}
          <div class="original_price"><p class="price">Giá cũ: {{ product.priceold }} Vnđ</p></div>
          {% endif %}
          <div class="product_price"><p class="price">Giá hiện tại: {{ product.price }} Vnđ</p></div>
          <br>
          <ul class="star_rating justify-content-center" >
            Đánh giá chất lượng:
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
          </ul>
          <!-- <div class="product_color">
            <span>Select Color:</span>
            <ul>
              <li style="background: #e54e5d"></li>
              <li style="background: #252525"></li>
              <li style="background: #60b3f3"></li>
            </ul>
          </div> -->
          <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
            <form action="{% url "cart:cart_add" product.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input type="submit" value="Thêm vào giỏ">
            </form>
          </div>
          <br>
          <br>
          <br>
          <h2>Mô tả sản phẩm:</h2>
          {{ product.description|linebreaks }}
        </div>
      </div>
    </div>

  </div>

{% endblock %}
