{% extends "shop/base.html" %}
{% load static %}
{% load class_name %}
{% block title %}
  Tìm kiếm
{% endblock %}
{% block top %}
<link rel="stylesheet" type="text/css" href="{% static "css/contact_styles.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/contact_responsive.css" %}">
{% endblock %}

{% block content %}
      <div class="container contact_container">
        <div class="row">
          <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
              <ul>
                <li><a href="{% url 'home:home_page' %}">Trang chủ</a></li>
                <li class="active"><a href="{% url 'search:search' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>Tìm kiếm</a></li>
              </ul>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col">
            <h5>Kết quả tìm kiếm cho "{{query}}":</h5>
            {% for object in object_list %}
                {% with object|class_name as klass %}
                  {% if klass == 'News' %}
                       <div class='row'>
                         <div class='col-12'>
                            Tin tức: <a href='{{ object.get_absolute_url }}'>{{ object.title }}</a>
                        </div>
                      </div>

                  {% elif klass == 'Category' %}
                       <div class='row'>
                         <div class='col-12'>
                            Danh mục sản phẩm: <a href='{{object.get_absolute_url}}'>{{ object.name }}</a>
                          </div>
                        </div>

                  {% elif klass == 'Product' %}
                       <div class='row'>
                            <div class='col-12'>
                               Sản phẩm: <a href='{{ object.get_absolute_url }}'>{{ object.name }}</a>
                            </div>
                        </div>
                  {% else %}
                       <div class='row'>
                         <div class='col-12'>
                            <h6>Không tìm thấy kết quả cho "{{query}}"</h6>
                        </div>
                       </div>
                  {% endif %}

                {% endwith %}

            {% empty %}
            <div class='row'>
                <div class='col-12 col-md-6 mx-auto my-5 py-5'>
                <form method='GET' class='' action='.'>

                    <div class="input-group form-group-no-border mx-auto" style="margin-bottom: 0px; font-size: 32px;">
                        <input type="text" name="q" data-toggle="popover" data-placement="bottom" data-content="Press enter to search" class="form-control cfe-nav mt-0 py-3" placeholder="Tìm kiếm..." value="" style="" data-original-title="" title="" autofocus="autofocus">
                        <span class="input-group-addon cfe-nav" style='color:#000'>
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                        <input class="" type="submit" name="tìm kiếm" value="">
                    </div>
                </form>

                </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>

{% endblock %}
